@model ViewCartModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Shoes in @Model.cart_user's Cart</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>shoeID</th>
            <th>brand</th>
            <th>shoe_name</th>
            <th>price</th>
            <th>color</th>
            @* <th>shoe_description</th> *@
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.shoes_in_cart)
        {
            <tr>
                <td>@item.shoeID</td>
                <td>@item.brand_name</td>
                <td>@item.shoe_name</td>
                <td>@item.shoe_price</td>
                <td>@item.shoe_color</td>
                @* <td>@item.shoe_description</td> *@
            </tr>
        }
    </tbody>
</table>